/* NAVBAR BACKGROUND */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

/* FLEX CONTAINER */
.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo img {
  height: 60px;
  cursor: pointer;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  color: #00e6e6;
}

/* SOCIAL ICONS */
.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  width: 22px;
  height: 22px;
  transition: 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
  filter: brightness(0) invert(1) drop-shadow(0 0 5px #00e6e6);
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -260px;
  width: 250px;
  height: 100vh;
  background: #0d0d15;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 25px;
  align-items: center;
  transition: right 0.4s ease;
  z-index: 1200;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.mobile-menu.show {
  right: 0;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 1100;
}
/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Later we can add hamburger menu */
  }

  .social-icons img {
    width: 22px;
    height: 22px;
  }
    .hamburger {
    display: flex;
  }

  .logo img {
    height: 40px;
  }
}